body {
  background: radial-gradient(
    859px at 10% 20%,
    rgb(245, 220, 154) 0%,
    rgb(164, 78, 51) 90%
  );
  border: 2px solid #e7c484;
  border-radius: 30px;
  box-shadow: 0.5px 0.5px;
  /* font-size: 40px; */
  /* background: rgb(83, 54, 54); */
  padding: 15px 20px;
  transition: all 250ms ease-in-out;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.coffee-history-text{
  background-color: #E6D5B8;
}

.table-history {
  background-color: #E6D5B8;
}

#data-table-blends{
  background-color: #E6D5B8;
}

#blends-table{
  background-color: #E6D5B8;
}

.container {
  margin-bottom: 50px;
}
.logo {
  border-radius: 15px;
  float: left;
  /* margin-bottom: 50px auto; */
}
.description {
  float: inline-start;
  padding: 30px auto;
}
.nav-link {
  color: black;
  transition: brown;
  margin-bottom: 30px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

.start button {
  background: #074a2a;
  font-weight: bold;
  border-radius: 20px;
  border-color: goldenrod;
  color: #b37a35;
  box-shadow: #e7c484;
}
button:hover {
  background: rgb(121, 89, 50);
  color: #e7c484;
  font-weight: bold;
  border-radius: 20px;
  border-color: rgb(73, 54, 7);

  box-shadow: #e7c484;
}
.btn-primary {
  color: #e7c484;
  background-color: #198754;
  border-color: #012b17;
  margin: 8px;
  display: block;
  padding: 2px;
}
.btn-primary:hover {
  color: #198754;
  background-color: #e7c484;
}
.close {
  border-radius: 10px;
  color: #074a2a;
  background-color: #198754;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.modal-title {
  color: #965e24;
  text-align: center;
}
.modal-body {
  color: #965e24;
}
/* .custom-Jumbo {
  border-radius: 15px;
  color: #412809;
  font-weight: bolder;
} */
/* Footer */
.emailContain {
  width: auto;
  background-image: url(../images/map\ w\ leaf.png);
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: rgb(198, 223, 198);
}
/* Footer form */
form {
  width: auto;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #f2f2f2;
}

footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
.answer {
  background-color: #197e4d;
  border-radius: 20px;
  font-weight: lighter;
  margin: 15px;
  display: block;
}
#submit {
  border-radius: 20px;
  background: #23a064;
}
#initials {
  border-radius: 20px;
  background: #197e4d;
}
/*Music Modal*/

/* .modal-btn {
    display: inline-block;
    height: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;trackThumbnail
    cursor: pointer;
    border: 2px solid #A64E2E;
    color: #3498db;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .modal-btn:hover {
    background-color: #A6592D;
    color: #fff;
  } */
/* quiz part */
#start-screen {
  text-align: center;
}

.hide {
  display: none;
}



#data-table-blends td {
  border: 1px solid #ddd; 
  padding: 10px; 
}

.blend-name {
  font-weight: bold;
}
